<header class="ps-site-top ps-site-bgWhite" style="background-color:whitesmoke !important">
    <div class="ps-container">
        <div class="ps-mod4 ps-sm-mod3">
            <span class="ps-logo">Porto Seguro</span>
        </div>
        <div class="ps-mod4 ps-sm-mod9">
            <ul class="ps-menu ps-menu-mobile ps-menu-allCaps ps-menu-horizontal">
                <li><a href="#" class="ps-menu-hasLevel">MENU</a>
                    <ul>
                        <li><a href="#">ITEM 1</a></li>
                        <li><a href="#">ITEM 2</a></li>
                        <li><a href="#">ITEM 3</a></li>
                    </ul>
                </li>
                <li><a>ITEM</a></li>
                <li><a>ITEM</a></li>
                <li><a>ITEM</a></li>
                
            </ul>
        </div>
        
    </div>
    
</header>
