<div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              Cadastro de Composição e Regras
            </a>
          </div> 
<div class="card-body">

    <div class="container-rv-input"  > 
       <label>Nome do Segmento</label>
        <div class="form-group" >
          <input type="text" class="form-control"  name="segtmento"   >
        </div>
  </div> 
  <div class="form-group" id="form-parte-um">
    <div class="container-rv-p" > 
        <div class="form-group" >
          <label><b>Empresa</b></label>
          <select class="form-control">
            <option  value="">selecione</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="911">911</option>
  
          </select>
        </div>
      </div>
      <div class="container-rv-p" > 
          <div class="form-group" >
            <label><b>Produto</b></label>
            <select class="form-control">
              <option  value="">selecione</option>
              <option value="1">Auto Porto</option>
              <option value="2">Auto Porto RE</option>
              <option value="11">Fiança</option>
              <option value="9">Segmento</option>


            </select>
          </div>
        </div>
        <div class="container-rv-p" > 
            <div class="form-group">
              <label><b>Ramo</b></label>
              <select class="form-control">
                <option  value="">selecione</option>
                <option  value="1">segtmento</option>
    
              </select>
            </div>
          </div>
          <div class="container-rv-p">
              <div class="form-group"  >
                <label><b>Tipo Operação</b></label>
                  <div class="radio">
                     <label><input type="radio" name="optradio" value="1">Adicionar</label>
                   </div>
                  <div class="radio">
                     <label><input type="radio" name="optradio" value="2">Remover</label>
                  </div>
              </div>    
          </div>
 </div>   
 
  
  <div class="form-group">       
          <div class="container-rv-p" > 
              <div class="form-group" >
                <label><b>Modalidade</b></label>
                <select class="form-control">
                  <option  value="">selecione</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="911">911</option>
        
                </select>
              </div>
            </div>
            <div class="container-rv-p" > 
                <div class="form-group" >
                  <label><b>Grupo</b></label>
                  <select class="form-control">
                    <option  value="">selecione</option>
                    <option value="1">Auto Porto</option>
                    <option value="2">Auto Porto RE</option>
                    <option value="11">Fiança</option>
                    <option value="9">Segmento</option>
      
      
                  </select>
                </div>
              </div>
              <div class="container-rv-p" > 
                  <div class="form-group">
                    <label><b>Subgrupo</b></label>
                    <select class="form-control">
                      <option  value="">selecione</option>
                      <option  value="1">segtmento</option>
          
                    </select>
                  </div>
                </div>
          <div class="container-rv-p">
              <div class="form-group" id="adicionar" >
                <label class="fas fa-plus-circle" style="font-size:24px;" ></label>
                  <div class="checkbox">
                     <a type="text"  name="optradio" value="2">Incluir</a>
                  </div>
              </div>    
          </div>
          <div class="container-rv-p">
              <div class="form-group" id="remover" >
                <label class="fas fa-trash-alt" style="font-size:24px;" ></label>
                  <div class="checkbox">
                     <a type="text"  name="optradio" value="2">Excluir</a>
                  </div>
              </div>    
          </div>
      </div>     

      <table class="table table-striped">
          <thead>
            <tr >
              <th>Empresa</th>
              <th>Produto</th>
              <th>Ramo</th>
              <th>Modalidade</th>
              <th>Grupo</th>
              <th>Subgrupo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Porto Plus</td>
              <td>Auto Porto</td>
              <td>Segmento</td>
              <td>Porto</td>
              <td>teste</td>
              <td>teste</td>
            </tr>
            <tr>
                <td>Porto Plus</td>
                <td>Auto Porto</td>
                <td>Segmento</td>
                <td>Porto</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
            <tr>
                <td>Porto Plus</td>
                <td>Auto Porto</td>
                <td>Segmento</td>
                <td>Porto</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
            <tr>
                <td>Porto Plus</td>
                <td>Auto Porto</td>
                <td>Segmento</td>
                <td>Porto</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
            <tr>
                <td>Porto Plus</td>
                <td>Auto Porto</td>
                <td>Segmento</td>
                <td>Porto</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
            <tr>
                <td>Porto Plus</td>
                <td>Auto Porto</td>
                <td>Segmento</td>
                <td>Porto</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
            <tr>
                <td>Porto Plus</td>
                <td>Auto Porto</td>
                <td>Segmento</td>
                <td>Porto</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
            <tr>
                <td>Porto Plus</td>
                <td>Auto Porto</td>
                <td>Segmento</td>
                <td>Porto</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
          </tbody>
        </table>
 
</div>
 
<rv-regra-composta></rv-regra-composta>
</div>
</div>


