<div>

<!--<span class="ps-logo">Porto Seguro</span>-->
<div class="ps-container">
    <div class="ps-row" style="margin-top: 5px">
        <div class="ps-mod8 ps-sm-mod4 ps-lg-mod2"><h1>Remuneração</h1><h2>Variável</h2></div> 
        <div class="ps-mod8 ps-sm-mod4 ps-lg-mod3">
           <span class="ps-ico ps-lg ps-logo-porto-itauAutoResid-azul"></span>
        </div> 
    </div>
</div>




 <rv-header class="rv-header"></rv-header>
 <br>
 <div class="ps-container">
   <router-outlet></router-outlet>
</div>