<div>

<!--<span class="ps-logo">Porto Seguro</span>-->
<div class="ps-container">
    <div class="ps-row">
        <div class="ps-mod8 ps-sm-mod4 ps-lg-mod2"><h1>Remuneração</h1><h2>Variável</h2></div> 
        <div class="ps-mod8 ps-sm-mod4 ps-lg-mod3">
            <img src="../assets/icons/log_porto.png">
            <img src="../assets/icons/log_itau.png">
            <img src="../assets/icons/log_azul.png">
        </div> 
    </div>
</div>




 <rv-header class="rv-header"></rv-header>
 <br>
 <div class="ps-container">
    <div class="ps-row">
        <div class="ps-mod8 ps-sm-mod4">
            <a href="javascript:;" class="ps-btn ps-open-modal" data-modal="#ModalPadrao" data-modalbackdropstatic="false" data-modalkeyboarddisable="true" data-modalonshow="console.log('abrir modal')" data-modalonhide="console.log('fechar modal')">Modal Padrão</a><br/>
            <small>Teste Modal</small><br/>
            <small>Remuneração Variável</small><br/>
       </div>

    </div>

    <div class="ps-modal" id="ModalPadrao">
        <a href="javascript:;" class="ps-modal-close ps-modal-close-default"><span class="ps-ico ps-ico-sm ps-sm-ico-lg ps-ico-close"></span></a>
        <div class="ps-modal-container">
            <div class="ps-modal-title">
                Remuneração Variável
            </div>
            <div class="ps-modal-content">
                <p>Bem vindo ao protótipo de tela do RV</p><br>
                      <input type="submit" class="ps-btn ps-btn-primary  ps-modal-close-default" value="TESTE" />
            </div>
            <div class="ps-modal-foot">
                @portoSeguro
            </div>
        </div>
    </div>
</div>