<div class="ps-container">
    <div class="ps-row" style="text-align: center; margin-top:0px; ">
        <p class="titulo">Regras de Segmento</p>
    </div><br>
    <div class="ps-row" style="margin-bottom: 4px;">
        <tr class="ps-mod8 ps-sm-mod12">
            <th class="ps-mod8 ps-sm-mod2">
                <a title="Adicionar novo Segmento" style="width:60px;" href="javascript:;" class="ps-btn ps-open-modal"
                    data-modal="#ModalPadrao" data-modalbackdropstatic="false" data-modalkeyboarddisable="true"
                    data-modalonshow="console.log('abrir modal')" data-modalonhide="console.log('fechar modal')">
                    <span class="ps-mod8 ps-ico ps-sm-mod1 ps-alignCenter ps-ico-plus">
                    </span>
                </a><br />

            </th>
            <th class="ps-sm-mod8"><input type="submit" class="ps-btn ps-btn-primary" value="Regras & Composição" />
            </th>
        </tr>
    </div>
</div>
<!--TABLE HERE-->
<div class="ps-container">
    <div class="ps-row">
        <div class="ps-mod8 ps-sm-mod12">
            <table class="ps-table ps-datagrid" data-pagesize="5" data-filtering="true">
                <thead>
                    <tr>
                        <th class="ps-sm-mod2" data-type="text" data-itemtemplate="PropostaTemplate">Proposta</th>
                        <th class="ps-sm-mod3" data-type="text" data-itemtemplate="NomeTemplate">Nome</th>
                        <th class="ps-hide ps-sm-show ps-sm-mod3" data-type="select" data-items="produtos"
                            data-valuefield="id" data-textfield="Name" data-sorter="number">Produto</th>
                        <th class="ps-hide ps-sm-show ps-sm-mod2" data-type="text" data-sorting="false">SUSEP</th>
                        <th class="ps-hide ps-sm-show ps-sm-mod2" data-type="text" data-sorter="date">Recebida em</th>
                        <th class="ps-sm-mod2" data-itemtemplate="StatusTemplate" data-type="select"
                            data-items="reqStatus" data-valuefield="id" data-textfield="Name" data-sorter="number">
                            Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>65-36027222</td>
                        <td>NORMA NOGUEIRA PEREIRA</td>
                        <td>1</td>
                        <td>S5005J</td>
                        <td>18/05/2014</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>20-20962040</td>
                        <td>MARCIA CURY</td>
                        <td>2</td>
                        <td>S5005J</td>
                        <td>18/04/2015</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>12-22988317</td>
                        <td>AIRTON CIRO STRIANI</td>
                        <td>2</td>
                        <td>S5005J</td>
                        <td>18/05/2015</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>65-36075699</td>
                        <td>FRANCISCA GUILHERME ZANELLA</td>
                        <td>1</td>
                        <td>S5005J</td>
                        <td>19/05/2015</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>12-47011206</td>
                        <td>MARCOS EDUARDO PAGLIANTI</td>
                        <td>1</td>
                        <td>S5005J</td>
                        <td>19/05/2015</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>20-21268203</td>
                        <td>CLAUDEMI ALVES DE LIMA</td>
                        <td>1</td>
                        <td>S5005J</td>
                        <td>19/05/2015</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>12-24573142</td>
                        <td>JULIO CESAR MORGANTE BELTRAMINI</td>
                        <td>3</td>
                        <td>S5005J</td>
                        <td>20/05/2015</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>58-23464859</td>
                        <td>EDUARDO KAJIMOTO DE A NUNES</td>
                        <td>3</td>
                        <td>S5005J</td>
                        <td>21/05/2015</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>58-23465156</td>
                        <td>GILMARA FLESSATI SERIO</td>
                        <td>3</td>
                        <td>S5005J</td>
                        <td>21/06/2015</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>58-23464859</td>
                        <td>EDUARDO KAJIMOTO DE A NUNES</td>
                        <td>3</td>
                        <td>S5005J</td>
                        <td>21/05/2015</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>58-23465156</td>
                        <td>GILMARA FLESSATI SERIO</td>
                        <td>3</td>
                        <td>S5005J</td>
                        <td>21/06/2015</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>58-23464859</td>
                        <td>EDUARDO KAJIMOTO DE A NUNES</td>
                        <td>3</td>
                        <td>S5005J</td>
                        <td>21/05/2015</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>58-23465156</td>
                        <td>GILMARA FLESSATI SERIO</td>
                        <td>3</td>
                        <td>S5005J</td>
                        <td>21/06/2015</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--TABLE ABOVE-->


<div class="ps-modal" id="ModalPadrao">
    <a href="javascript:;" class="ps-modal-close ps-modal-close-default"><span
            class="ps-ico ps-ico-sm ps-sm-ico-lg ps-ico-close"></span></a>
    <div class="ps-modal-container">
        <div class="ps-modal-title">
            <p class="titulo">Cadastro de Segmento</p>
        </div>
        <div class="ps-modal-content">
            <label>Nome Segmento RV</label>
            <input [(ngModel)]="objDTO.nmSegmentoRV" type="text" class="ps-frm-entry" placeholder="Preencha aqui" />
            <br>
            <input [(ngModel)]="objDTO.assessoria" type="checkbox" name="tst" class="ps-frm-checkbox"
                id="ps-frm-chk-tst1" />
            <label class="ps-frm-checkbox" for="ps-frm-chk-tst1">
                Assessoria
            </label>
            <input [(ngModel)]="objDTO.normal" type="checkbox" name="tst" class="ps-frm-checkbox" id="ps-frm-chk-tst2"
                checked />
            <label class="ps-frm-checkbox" for="ps-frm-chk-tst2">
                Normal
            </label><br>
            <input [(ngModel)]="objDTO.isSeguro" type="radio" name="tst1" value=true class="ps-frm-radio"
                id="ps-frm-rad-tst1" />
            <label class="ps-frm-radio" for="ps-frm-rad-tst1">
                Seguro
            </label>
            <br>
            <input [(ngModel)]="objDTO.isSeguro" type="radio" name="tst1" value=false class="ps-frm-radio"
                id="ps-frm-rad-tst2" checked />

            <label class="ps-frm-radio" for="ps-frm-rad-tst2">
                Não Seguro
            </label>
            <textarea [(ngModel)]="objDTO.observacao" name="test" class="ps-frm-entry"
                placeholder="Observação (máximo 100 caracteres)" maxlength="100" style="width: 300px;"></textarea>
        </div>
        <div class="ps-modal-foot">
            <div class="row">
                <div class="ps-sm-mod6">
                    <button (click)="gravar()" class="ps-btn">Gravar</button>
                </div>
                <div class="ps-sm-mod6">
                    <button class="ps-btn" style="color: crimson; border-color: crimson">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>